body {
  font-family: "Urbanist", sans-serif;
}
.card {
  max-width: 500px;
  display: block;
  margin: 20px auto;
  margin-bottom: 0;
  border-radius: 15px;
  background-color: #fce8ed;
  box-shadow: 14px 14px 0px -2px #f1aac2;
}
#search-city {
  display: block;
  text-align: center;
  margin-top: 20px;
}
#search-button,
#current-location-button {
  background-color: #ea85a2;
  color: #ffffff;
}
h1 {
  text-align: center;
  font-size: 55px;
  padding: 30px 0;
  margin: 0 auto;
  font-weight: 600;
  text-shadow: 4px 4px #ea85a2;
  color: white;
  -webkit-text-stroke: 0.8px #ea85a2;
  letter-spacing: 2px;
}
.weatherGraphic {
  padding: 0px 0px 0px 30px;
  text-align: center;
}
#currentForecastIcon {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.weatherGraphic .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weatherGraphic #fahrenheit-link,
.weatherGraphic #celcius-link {
  text-decoration: none;
}
.currentTemp {
  padding-top: 4px;
}
#temperature {
  font-size: 70px;
  font-weight: 700;
  color: #ea85a2;
  text-shadow: 2px 2px white;
  text-align: right;
  padding-right: 0;
}
#unit {
  font-size: 20px;
  position: relative;
  top: 19px;
  padding-left: 5px;
  text-align: left;
}
.currentFeel {
  font-weight: 300;
  font-size: 14px;
}
.weatherInfo {
  text-align: center;
}
h2 {
  font-size: 25px;
  text-shadow: 2px 2px white;
}
h3 {
  font-size: 14px;
  font-style: italic;
  font-weight: 200;
}
h4 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 3px 3px #bdc2d5;
  letter-spacing: 4px;
  margin: 30px auto;
  -webkit-text-stroke: 0.3px #bdc2d5;
}
.currentInfo {
  margin: 10px auto;
  line-height: 25px;
  font-size: 14px;
}
#feelsLike,
#currentHigh,
#currentLow,
#humidity,
#wind {
  color: #ea85a2;
  font-size: 14px;
}
.test {
  color: #ea85a2;
  font-size: 14px;
}
.forecast {
  padding-top: 30px;
  text-align: center;
}
.forecastDay {
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 2px 2px white;
}
.forecastHigh {
  font-weight: 700;
  color: #ea85a2;
}
.forecastHigh,
.forecastLow {
  margin: 10px auto;
  text-shadow: 2px 2px white;
}
.forecastLow {
  font-weight: 500;
}
.switch {
  text-align: center;
  font-size: 12px;
}
footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
.footerLinks {
  text-decoration: none;
}
.footerLinks:hover {
  cursor: pointer;
}
