.card {
  max-width: 600px;
  display: block;
  margin: 20px auto;
}
#search-city {
  display: block;
  text-align: center;
  margin-top: 20px;
}
h1 {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 50px;
  padding-top: 40px;
}
.weatherGraphic {
  padding: 0px 0px 0px 30px;
}
#currentTempPic {
  text-align: center;
}
.currentTemp {
  text-align: center;
}
#temp {
  font-family: "Urbanist", sans-serif;
  font-size: 50px;
}
#unit {
  font-size: 20px;
  position: relative;
  top: -24px;
}
h3 {
  font-size: 15px;
}
.weatherInfo {
  text-align: right;
  font-family: "Urbanist", sans-serif;
  padding: 0px 50px 0px 0px;
}
.days,
.high {
  font-weight: 600;
}
.days,
.daysGraphic,
.high,
.low {
  text-align: center;
}
.switch {
  text-align: center;
  font-size: 12px;
}
footer {
  padding: 10px;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 12px;
}
